.header {
	display: inline-block;
	height: 85px;
	width: 100%;
	background-color: #fff;
	text-align: center;
}

.subheader {
	display: inline-block;
	height: 33px;
	width: 100%;
	background-color: #2b71ff;
	border-bottom: 2px solid #000;
}

.subheader > span {
	color: #fff;
	line-height: 33px;
	font-weight: 500;
}

.subheader > span > a {
	color: #fff;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px dotted #fff;
	transition: 0.15s ease-in-out;
}

.subheader > span > a:hover {
	padding-bottom: 0px;
}

.mainheader {
	display: inline-block;
	height: 55px;
	width: 100%;
	text-align: center;
	padding-top: 5px;
}

.mainheader > div:nth-child(1) {
	float: left;
	height: 100%;
	width: 200px;
}

.mainheader > div:nth-child(1) > a > img {
	height: 30px;
	margin-top: 10px;
}

.mainheader > div:nth-child(2) {
	float: left;
	height: 100%;
	width: calc(100% - 230px);
	text-align: left;
}

.mainheader > div:nth-child(2) > ul {
	list-style-type: none;
	height: 55px;
	float: right;
}

.mainheader > div:nth-child(2) > ul > li {
	display: inline-block;
	margin: 0px 10px 0px 10px;
}

.mainheader > div:nth-child(2) > ul > li > a {
	text-decoration: none;
	color: #000;
	font-weight: 500;
	padding-bottom: 2px;
	transition: 0.1s ease-in-out;
}

.mainheader > div:nth-child(2) > ul > li > a:hover {
	color: #2b71ff;
	border-bottom: 1px dotted #2b71ff;
}

.mainheader > div:nth-child(2) > ul > li:last-child > a {
	background-color: #2b71ff;
	padding: 10px 12.5px 10px 12.5px;
	color: #fff;
	font-weight: 500;
	border-radius: 40px;
	transition: 0.15s ease-in-out;
}

.mainheader > div:nth-child(2) > ul > li:last-child > a:hover {
	background-color: #417ffd;
	box-shadow: 0 5px 10px rgba(0,0,0,.08);
	color: #fff;
	cursor: pointer;
	transform: scale(1.2);
}

.mainheader > div:nth-child(3) {
	display: none;
}

/* Responsiveness */
@media screen and (min-width: 1400px) {
	.mainheader {
		width: 1200px;
	}
}
